<div class="bottomSheet">
    <div class="firstParent">
        <div class="leftChild">Shop by product</div>
        <div class="rightChild">
            <button class="mat-button" mat-button>Ecommerce Angular UI kit &nbsp;&nbsp;<mat-icon>keyboard_arrow_right
                </mat-icon></button>
        </div>
    </div>
    <div class="secondParent">
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>palette</mat-icon></div>
               <div class="text">Collectible & Art</div> 
            </button><br>
            <button class="childButton" mat-button>Collectibles</button><br>
            <button class="childButton" mat-button>Coins and Paper Money</button><br>
            <button class="childButton" mat-button>Sports Memorabilia</button><br>
            <button class="childButton" mat-button>Fantiki & Vkladish</button><br>
            <button class="childButton" mat-button>Postcards</button><br>
        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>tag_faces</mat-icon></div>
               <div class="text">Fashion & Style</div> 
            </button><br>
            <button class="childButton" mat-button>Women</button><br>
            <button class="childButton" mat-button>Men</button><br>
            <button class="childButton" mat-button>Watches</button><br>
            <button class="childButton" mat-button>Shoes</button><br>
            <button class="childButton" mat-button>Tapochki</button><br>
        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>directions_bike</mat-icon></div>
               <div class="text">Sporting goods</div> 
            </button><br>
            <button class="childButton" mat-button>Outdoors sports</button><br>
            <button class="childButton" mat-button>Team watersports</button><br>
            <button class="childButton" mat-button>Exercise & fitness</button><br>
            <button class="childButton" mat-button>Fantiki & Vkladishi</button><br>
            <button class="childButton" mat-button>Postcards</button><br>
        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>system_update</mat-icon></div>
               <div class="text">Setproduct</div> 
            </button><br>
            <button class="childButton" mat-button>Material Design System</button><br>
            <button class="childButton" mat-button>React & Angular</button><br>
            <button class="childButton" mat-button>Sexy components</button><br>
            <button class="childButton" mat-button>App templates</button><br>
            <button class="childButton" mat-button>Design & Code assets</button><br>
        </div>
    </div>


    <div class="secondParent">
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>power</mat-icon></div>
               <div class="text">Electronics</div> 
            </button><br>
            <button class="childButton" mat-button>Computer & Tablets</button><br>
            <button class="childButton" mat-button>Camera and Photo</button><br>
            <button class="childButton" mat-button>TV, Audio & Free porn</button><br>
            <button class="childButton" mat-button>Cell phones & Accessories</button><br>
        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>home</mat-icon></div>
               <div class="text">Home & Garden</div> 
            </button><br>
            <button class="childButton" mat-button>Yard, Garden & Outdoor</button><br>
            <button class="childButton" mat-button>Bubba Kush</button><br>
            <button class="childButton" mat-button>Crafts</button><br>
            <button class="childButton" mat-button>Home improvement</button><br>

        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon>toys</mat-icon></div>
               <div class="text">Toys & Hobbies</div> 
            </button><br>
            <button class="childButton" mat-button>Action figures</button><br>
            <button class="childButton" mat-button>Building toys</button><br>
            <button class="childButton" mat-button>Remote control toys</button><br>
            <button class="childButton" mat-button>Onhovered item</button><br>
        </div>
        <div class="container">
            <button mat-button class="mainButton">
                <div class="icon"><mat-icon> directions_car</mat-icon></div>
               <div class="text">Auto Parts & Acc...</div> 
            </button><br>
            <button class="childButton" mat-button>GPS & Security Devices</button><br>
            <button class="childButton" mat-button>Radar & Laser Detectors</button><br>
            <button class="childButton" mat-button>Care & Detailing</button><br>
            <button class="childButton" mat-button>Scooter Parts & Access...</button><br>
        </div>
    </div>
</div>