<div class="footer">
    <div class="image">
        <img src="https://ecommerce-angular-demo.setproduct.com/assets/svg/setproduct.svg" alt="">
    </div>
    <div class="secondChild">
        <div class="link">
            <button mat-button>
                <div style="float: left;" class="leftDiv"><img src="/assets/waving.png">&nbsp;</div>
                <div style="float: left;" class="rightDiv"><a href="#">Hire us</a></div>
            </button>
            <button mat-button>
                <div style="float: left;" class="leftDiv"><img src="/assets/learn more.png">&nbsp;</div>
                <div style="float: left;" class="rightDiv"><a href="https://angular.setproduct.com/" target="_blank">Learn More</a></div>
            </button>
            <button mat-button>
                <div style="float: left;" class="leftDiv"><img src="/assets/play.png">&nbsp;</div>
                <div style="float: left;" class="rightDiv"><a href="https://angular.setproduct.com/get-started" target="_blank">Get Started</a></div>
            </button>
            <button mat-button>
                <div style="float: left;" class="leftDiv"><img src="/assets/paint.png">&nbsp;</div>
                <div style="float: left;" class="rightDiv"><a href="https://angular.setproduct.com/components/forms/input/examples" target="_blank">Components</a></div>
            </button>
            <button mat-button>
                <div style="float: left;" class="leftDiv"><img src="/assets/setting.png">&nbsp;</div>
                <div style="float: left;" class="rightDiv"><a href="https://setproduct.com/system" target="_blank">Design System</a></div>
            </button>
        </div>
    </div>

    
    
    
</div>

