<div class="navBar">
    <mat-toolbar>
        <div class="first-Child">
            <div class="logo">M</div>
            <div class="title">Magazinka</div>
        </div>
        <div class="second-Child">
            <mat-tab-group animationDuration="100ms">
                <mat-tab label="New in">gbvvbvb  bv</mat-tab>
                <mat-tab label="Clothing">bgb</mat-tab>
                <mat-tab label="Shoes"></mat-tab>
                <mat-tab label="Accessories"></mat-tab>
                <mat-tab label="More"></mat-tab>
            </mat-tab-group>
        </div>
        <div class="third-Child">
            <div class="search">
                <!-- <mat-icon matPrefix>search</mat-icon> -->
                <input matInput type="search" placeholder="Search">
            </div>
            <div class="badge">
                <p>
                    <mat-icon matBadge="3" matBadgeColor="warn">shopping_cart</mat-icon>
                </p>
            </div>
            <div class="profile">
                <img src="/assets/ghh1_5e0330bc40062.jpg">
            </div>
        </div>
    </mat-toolbar>
</div>
<!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-icon matPrefix>search &nbsp;</mat-icon>
      <input type="search" matInput placeholder="Search">
    </mat-form-field>
  </form> -->