<div class="navBar">
    <mat-toolbar>
        <div class="first-Child">
            <div class="logo">M</div>
            <div class="title">Magazinka</div>
        </div>
        <div class="second-Child">
            <div routerLink="/new" routerLinkActive="active">New in</div>
            <div routerLink="/clothing" routerLinkActive="active">Clothing</div>
            <div routerLink="/shoes" routerLinkActive="active">Shoes</div>
            <div routerLink="/accessories" routerLinkActive="active">Accessories</div>
            <div routerLink="/more" routerLinkActive="active">More</div>
        </div>
        <div class="third-Child">
            <div class="search">
                <!-- <mat-icon matPrefix>search</mat-icon> -->
                <form>
                    <input matInput type="search" placeholder="Search">
                </form>
                
            </div>
            <div class="badge">
                <p>
                    <mat-icon matBadge="3" matBadgeColor="warn">shopping_cart</mat-icon>
                </p>
            </div>
            <div class="profile">
                <img src="/assets/ghh1_5e0330bc40062.jpg">
            </div>
        </div>
    </mat-toolbar>
</div>