<div class="container">

    <!--Toggle tag-->
    <div *ngIf="showMe" class="dailoguebox">
        <div class="inner-container">
            <p class="heading">Create New Contact</p>
            <mat-icon class="cancel-icon" (click)="toogleTag()">close</mat-icon>
            <hr>
            <div class="second-container">
                <form  #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
                    <div><input matInput type="text" name="firstname" placeholder="Paul" ngModel> </div>
                    <div><input matInput type="text" name="lastname" placeholder="Rees" ngModel> </div>
                    <div><input matInput type="date" name="dob" ngModel></div>
                    <div><input matInput type="text" name="company" placeholder="Acme Corporation" ngModel> </div>
                    <div><input matInput type="text" name="job" placeholder="Software Developer" ngModel> </div>
                    <div><input matInput type="email" name="email" placeholder="paul.rees@domain.com" ngModel> </div>
                    <div><input matInput type="text" name="number" placeholder="+1-202-555-0112" ngModel> </div>
                    <div><input matInput type="text" name="notes" placeholder="Do not disturb during work." ngModel> </div>
                    <hr>
                    <div><button>Update Contact</button></div>
                </form>
            </div>
        </div>
    </div>

    <mat-card class="outline-card">
        <div class="dropdown">
            <form class="child-dropdown">
                <fieldset>
                    <legend>Filter By</legend>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]=" opt1Selected"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let opt of option1" [value]="opt.id">{{opt.name}}</option>
                    </select>
                    <p>Selected value is {{opt1Selected}}</p>
                </fieldset>

            </form>

            <form class="child-dropdown" style="padding-top:8px;">
                <fieldset>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]=" opt2Selected"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let opt of option2" [value]="opt.id">{{opt.name}}</option>
                    </select>
                    <p> Selected value is {{opt2Selected}}</p>
                </fieldset>

            </form>

            <form class="child-dropdown" style="padding-top:8px;">
                <fieldset>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]=" opt3Selected"
                        [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let opt of option3" [value]="opt.id">{{opt.name}}</option>
                    </select>
                    <p> Selected value is {{opt3Selected}}</p>
                </fieldset>

            </form>
        </div>
        <div class="button-toggle">
            <mat-button-toggle-group name="ingredients" aria-label="Ingredients">
                <mat-button-toggle value="flour">Flour</mat-button-toggle>
                <mat-button-toggle value="eggs">Eggs</mat-button-toggle>
                <mat-button-toggle value="sugar">Sugar</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">
                    <mat-icon>view_list</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="italic">
                    <mat-icon>view_compact</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>

        </div>
        <div class="multiple-button-toggle">
            <h5>Related</h5>
            <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                <mat-button-toggle value="flour">worldwide shipping</mat-button-toggle>
                <mat-button-toggle>under $50</mat-button-toggle>
                <mat-button-toggle>kitten</mat-button-toggle>
                <mat-button-toggle>plastic plugs</mat-button-toggle>
                <mat-button-toggle>pucker shoes</mat-button-toggle>
                <mat-button-toggle>vintage typewriter</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="cards">
            <!-- | filter:opt2Selected:'filterOption2'  | filter:opt3Selected:'filterOption3' -->
            <mat-card class="example-card"
                *ngFor="let obj of model | collapsableFilter: checkboxArray : time | filter:opt1Selected:'filterOption1'">
                <img mat-card-image src="{{obj.src}}" (click)="toogleTag()">
                <mat-card-content (click)="toogleTag()">
                    <p>{{obj.desc}}<p>
                    <h1> {{obj.amount}}</h1><br>
                    <p class="status">{{obj.status}}</p>
                    <h4 style="color: #2264d1;">{{obj.kindOf}}</h4>
                </mat-card-content>
                <mat-card-actions>
                    <div class="child-class">
                        <div class="rating-mat-icon" (click)="toogleTag()">
                            <mat-icon>grade</mat-icon>
                            <mat-icon>grade</mat-icon>
                            <mat-icon>grade</mat-icon>
                            <mat-icon>grade</mat-icon>
                            <mat-icon>star_half</mat-icon>
                        </div>
                        <h5>{{obj.rating}}</h5>
                    </div>
                    <div class="child-class">
                        <!-- (click)="toggleSelected()" -->
                        <button mat-button class="btn">
                            <!-- <mat-icon *ngIf="selected" aria-label="Example icon-button with a heart icon">
                                favorite
                            </mat-icon> -->
                            <!-- *ngIf="!selected"  -->
                             <mat-icon aria-label="Example icon-button with a heart icon">
                                favorite_border
                            </mat-icon>

                            <p>WATCH</p>
                        </button>
                    </div>
                    <button class="cartButton" (click)="addtoCart(obj)">Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </mat-card>
    <div class="last-container">
        <div class="left">
            <mat-icon>card_giftcard</mat-icon>
            <p class="first-para">EXTRA 99% DISCOUNT</p>
            <p class="sec-para">Use PUTIN2020 as a secret code</p>
        </div>
        <div class="mid">
            <mat-icon>card_membership</mat-icon>
            <p class="first-para">Free Gift Certificates</p>
            <p class="sec-para">You're so lucky today!</p>
        </div>
        <div class="right">
            <mat-icon>new_releases</mat-icon>
            <p class="first-para">Business License 20% OFF</p>
            <p class="sec-para">Purchase Setproduct Design System</p>
        </div>
    </div>
</div>